.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: 'Inter', 'sans-serif';
    color: white;

}

/* @media screen and (max-width: 1279px) {
    .page {
        margin: 0 auto;
        max-width: 1024px;
    }
} */