.cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    margin: 0;
    max-width: 360px;
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/2;
    justify-self: center;
    align-self: start;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 80%;
    }
}