.footer__link {
    display: block;
    text-decoration: none;
    color: white;
    margin-right: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    opacity: 1;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    opacity: .8;
    transition: opacity .3s;    
}

@media screen and (max-width: 767px) {
    .footer__link {
        margin-bottom: 32px;
    }

    .footer__link:last-child {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}