.lead__image-container {
    max-width: 985px;
    margin: 64px auto 0;
    /* text-align: center; */
}

@media screen and (max-width: 1279px) {
    .lead__image-container {
        max-width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .lead__image-container {
        max-width: 100%;
    }
}