.place__link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: white;
    opacity: 1;
}

.place__link:hover {
    opacity: .8;
    transition: opacity .3s;
}

@media screen and (max-width: 767px) {
  .place__link {
    grid-template-columns: 1fr;
  }
}