.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0 0 32px 0;
    max-width: 560px;
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: end;
    z-index: 1;
}

.cover__title:hover  {
    cursor: pointer;
}

.cover__title:hover ~ .cover__overlay{
    opacity: .8;
    transition: opacity .3s;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
        max-width: 80%;
    }
}