.place__url-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #aaa;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    grid-column: 1/-1;
    margin: 0 0 12px 0;
  }
}